CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM_SUPPORT=n
CONFIG_ESP32S3_SPIRAM_SUPPORT=n
CONFIG_SPIRAM_BOOT_INIT=n
CONFIG_SPIRAM_MODE_QUAD=n
CONFIG_SPIRAM_SPEED_80M=n
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_HEAP_TRACING_OFF=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table.csv"
CONFIG_PARTITION_TABLE_FILENAME="partition_table.csv"
CONFIG_LV_CONF_SKIP=y
CONFIG_LVGL_USE_LOG=y
CONFIG_LVGL_LOG_LEVEL_INFO=y
CONFIG_LVGL_COLOR_DEPTH_16=y
CONFIG_LVGL_ENABLE_GCOV=0
CONFIG_LCD_RGB_BOUNCE_BUFFER_NUMBER=2
CONFIG_LCD_RGB_BOUNCE_BUFFER_SIZE=32768
CONFIG_LCD_PANEL_IO_I2C=y
CONFIG_LCD_RGB_ISR_IRAM_SAFE=y
CONFIG_LCD_RGB_RESTART_IN_VSYNC=y
CONFIG_LCD_RGB_RESTART_IN_HSYNC=y
CONFIG_LCD_RGB_BUFFER_NUM=2
CONFIG_LCD_RGB_ISR_PRIORITY=2
CONFIG_ESP_LVGL_PORT=y
CONFIG_ESP_LVGL_PORT_TOUCH_MAX_BUTTONS=1
CONFIG_SPI_FLASH_ROM_DRIVER_PATCH=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_API_ENCODING_UTF_8=y
CONFIG_FATFS_FS_LOCK=5
CONFIG_FATFS_CODEPAGE_850=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
CONFIG_TWAI_ISR_IN_IRAM=y
